<div class = 'comment_container'>
{% assign comments = site.data.comments[page.slug]  %}
  <h3>
    {% if comments.size > 1 %}
      {{ site.data.comments[page.slug] | size | append: ' ' }} Comments
    {% elsif comments.size == 1 %}
      1 Comment
    {% else %}
      Be the first to comment
    {% endif %}
  </h3>
{% for comment in comments reversed %}
  {% assign index       = forloop.index %}
  {% assign r           = comment.replying_to %}
  {% assign replying_to = r | to_integer %}
  {% assign avatar      = comment[1].avatar %}
  {% assign email       = comment[1].email %}
  {% assign name        = comment[1].name %}
  {% assign url         = comment[1].url %}
  {% assign date        = comment[1].date %}
  {% assign message     = comment[1].message %}

  <div class = 'comment'>
    <img src = 'https://www.gravatar.com/avatar/{{email}}?d=mm' alt = 'user icon' class = 'comment_user'>
    <div class = 'comment_body'>
       <div class = 'comment_meta'>
        <div class = 'comment_author'>{{ name | capitalize }}</div>
        <div class = 'separator'><span>.</span></div>
        <div class = 'comment_time' id = 'date-{{index}}'>
          {{ date | date: '%b %d, %Y, %r' }}
        </div>
        <script>
          {% include time.js %}
          document.getElementById('date-{{index}}').innerHTML = timeSince("{{ date | date: '%s' }}");
        </script>
      </div>
      {{ message | markdownify}}
      <div class = 'comment_meta'>
        <!-- <div class = 'comment_icon'>
          <img src = '/assets/comment.svg' alt = 'user icon'><span class = 'comment_reply'></span>
        </div> -->
        <!-- <div class = 'comment_icon'>
          <img src = '/assets/like.svg' alt = 'user icon'> <span class = 'comment_likes'></span>
        </div> -->
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% include comments-form.md %}
<article class="modal">
  <div class = 'modal_inner'>
    <h2 class="modal_title"></h2>
    <div class="modal_text"></div>
    <button class="modal_close">Close</button>
  </div>
</article>