
*{
  box-sizing: border-box;
  -webkit-appearance: none;
}
body, h1, h2, h3, h4, p, ol, ul, figure{
  margin: 0;
  padding: 0;
}
body{
  font-family: $font-primary;
  color:$dark;
  font-size:17px;
  line-height: 1.5;
  max-width:1440px;
  margin:0 auto;
  position:relative;
  font-kerning: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
a{
  text-decoration: none;
  color:inherit;
}
blockquote {
  @include shadow;
  color: lighten($pale,5%);
  font-style: italic;
  font-weight: 400;
  margin: 30px 0;
  padding: 15px 30px;
  opacity: 0.9;
}
code {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
em{
  color: $pale;
  font-style: italic;
}
h1,h2,h3,h4,h5{
  font-family: $font;
  text-align: center;
  font-weight: 400;
  padding:5px 0;
  margin:15px 0;
  color: $dark;
  line-height:1.1;
}
h1{
  font-size:200%;
}
h2{
  font-size:180%;
}
h3{
  font-size:160%;
}
h4{
  font-size:140%;
}
h5{
  font-size:120%;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height:auto;
  margin:15px auto;
  padding:0;
}
main{
  padding-bottom: 75px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul{
  list-style: none;
  -webkit-padding-start:0;
  -moz-padding-start:0;
}
