.intro{
  background: transparent;
  padding: 0 25px;
  &_inner{
    @include viewport(840px);
    text-align: center;
    padding:30px;
    position: relative;
    top: -100px;
    background: $light;
    box-shadow: 0 0 130px rgba(0, 0, 0, .17);
    border-radius: 5px;
  }
  &_headline{
    font-family: $font-secondary;
    margin-top: 30px;
  }
}
.tripple{
  width:100%;
}
.show{
  display: block;
  position:relative;
  background-color:$dark;
  border-radius: 6px;
  background-size:cover;
  background-position:center;
  overflow: hidden;
  height:150px;
  &:hover .overlay {
    background-color:rgba(0,0,0,0.3);
  }
}
.excerpt{
  padding:20px 10px;
  position: relative;
  margin-top: -30px;
  z-index: 1;
  background: $light;
}
.gravatar{
  background: $light;
  width:56px;
  border-radius:50%;
  display:inline-block;
  position: absolute;
  bottom:-20px;
  margin:0 10px 0 0;
}
.decorate,
.gravatar{
  @include shadow;
}
.pretty{
  min-width:150px;
  font-family: $font-secondary;
  font-size: 1.33rem;
  margin:15px 0;
  display:inline-block;
  padding:7.5px 12.5px;
  background-color: $dark;
  color:$light;
}
aside h3{
  position:relative;
  margin:0 !important;
}
.widget{
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  background-color:rgba(0,0,0,0.6);
  padding:25px;
}
.articulo a{
  color: $primary-color;
  padding-bottom:7.5px;
}
.nav-secondary,
.user-menu{
  display: none !important;
}

.facebook,
.twitter,
.whatsapp{
 width:100%;
 height:24px;
 font-size:20px;
 display: inline-block;
}
.facebook{
   color: #3b5998;
}
.twitter{
  color:  #1da1f2;
}
span.right {
  font-family: 'cookie';
  color: $primary-color;
}
section p{
  text-align:left;
  padding:10px 0;
}
.transparent{
  padding:25px;
}
.overlay {
  h1{
    color:$light;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  }
  h4{
    color:#cececf;
  }
}
.point{
  margin-right:15px;
  color:$primary-color;
}
.wrap{
  padding:30px 40px 50px 40px;
}
.project{
  padding: 40px 15px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 10px 25px -2px rgba(158,174,221,0.2);
  &s{
    justify-content: space-between;
    max-width: 1024px;
    margin: 25px auto;
    font-size: 1.25rem;
  }
  &__container{
    padding:75px 0 25px;
  }
  &__thumb{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: $light;
    margin-right: 25px;
  }
}
.projects .trio h3{
  color:white;
  z-index:1;
}
.third{
  width:100%;
}
.trio li{
 max-height:180px;
 overflow:hidden; 
}
.overlay,
.shadow{
  position:absolute;
  top:0;
  width:100%;
  padding:25px;
  bottom:0;
  transition: background-color 0.3s ease-in-out;
}
.overlay{
  display:flex;
  justify-content:center;
  align-items:center;
}
.overlay,
.shadow,
.darken{
  background-color:rgba(10,15,30,0.72);
}
.poetic{
  display:block;
  margin:0 auto;
  width:270px;
  color:#eee;
  font-size:1.05em;
  font-style:italic;
  font-weight:300;
}
.inline:nth-child(2n){
  width:60%;
  text-align:left;
}
.button{
  background-color:#f5f5f5;
  width:250px;
  padding:15px;
  display:block;
  margin:auto;
}
.hold{
  position:relative;
  overflow:visible;
}
p.squeeze{
  padding-top:0;
  margin-top:0;
}

.tripple{
  order:-1;
}
.overlay h1{
  font-family: $font-secondary;
  font-size:1.8em;
  letter-spacing: 1.5px;
}
.site{
  &__icon{
    width:40px;
    margin: 0 10px 0 0;
  }
}
.start{
  margin: 75px 0 0;
  background: $dark;
  padding-top:30px;
  &_inner{
    @include viewport(1024px, 0);
    margin-bottom: 0;
    min-height:12.5vh;
  }
}
.skill{
  display: flex;
  align-items: center;
  justify-content: center;
  width:120px;
  height: 120px;
  background:#f9f9f9;
  border-radius: 50%;
  margin: 1rem;
  transform-origin: 50% 50%;
  transition: 0.3s all;
  $opacity: 0.2;
  @for $i from 1 through 5 {
    &_#{$i} {
      opacity: $opacity;
    }
    $opacity: $opacity + 0.2;
  }
  &s{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
#author{
  width:240px;
  margin:0 auto;
  border-radius:50%;
  cursor:pointer;
  img{
    display:block;
    margin:10px auto;
    border-radius:50%;
    width:125px;
  }
}
@media screen and (min-width: 567px) {
  .third{
  width: 49%;
  }
}
@media screen and (min-width: 769px){
  .nav-menu a{
    display:inline-block;
    height:initial;
    text-align:left;
  }
  .duo{
    width:49%;
  }
  .tripple{
    width:62%;
    padding-right:35px !important;
  }
  .third{
    width:49%;
  }
  .trio{
    width:28%;
    order:-1;
  }
  .mobile{
    display:none;
  }
}
@media screen and (min-width: 992px){
  .tripple,
  .trio{
    order:initial;
  }
  .third{
    width:32.33%;
  }
}
