.footer{
  padding:0;
  color:$light;
  margin:0;
  background: $dark;
  width:100%;
  font-family: $font-secondary;
  font-size: 1.25em;
  min-height:75px;
  p{
    padding:0 10px;
  }
  &_inner{
    width:90%;
    @include viewport(1024px);
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 567px) {
      flex-direction: column;
    }
  }
}