@mixin viewport($width: 1024px, $margin: 25px) {
  max-width: $width;
  margin: $margin auto;
  @content;
}
@mixin shadow($opacity: 0.2) {
  box-shadow: 0 10px 25px -2px rgba(158,174,221,$opacity);
}
.view{
  @include viewport;
  p{
    text-align: center;
    margin: 10px auto;
  }
}
