.post{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:1280px;
  margin:0 auto;
  padding:15px 25px;
  h1,h2,h3{
    margin:15px auto;
    text-align:left;
    padding:5px 0 0 0;
  }
  p{
    padding-bottom:7.5px;
    padding-top:7.5px;
  }
  &s{
    justify-content: space-around !important;
    align-items: stretch !important;
  }
  &__aside{
    align-items: stretch;
  }
  &-content{
    h4{
      margin:5px 0;
      text-align:left;
    }
    p{
      line-height:1.65;
      font-size: 1.05rem;
      &:first-child{
        margin-top:0;
        padding-top:0;
      }
    }
  }
  &_item{
    @include shadow;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
  }
  &-link{
    padding:2.5px 0;
    color:#000;
    font-size:1.5em;
    font-family: 'Cookie', sans-serif;
    margin:2.5px 0;
    text-align:left;
  }
  &__section{
    width:100%;
    max-width:750px;
  }
  &-time{
    padding:2.5px 0;
    display:flex;
    align-items: center;
    span{
      font-family: 'Cookie', sans-serif;
      font-size: 1.33em;
      &:last-of-type{
        color: #1ec95b ;
        text-transform: capitalize;
        letter-spacing: 1.5px;
        font-family: 'Cookie';
        font-size:1.2em;
      }
    }
    .apart{
      display:inline-block;
      margin:0 10px;
      opacity:0.5;
    }
  }
  &-title{
    margin:5px 0;;
  }
}

.pagination {
  text-align: center;
  display: block;
  margin: 50px auto 0 auto; 
  a:hover {
    opacity: 0.7;
  }
  a, span {
    box-shadow: 0 25px 40px -10px rgba(158, 174, 221, 0.2);
    padding: 5px 12.5px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: $primary-color;
    color: $light;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 30px; 
  }
  .active{
    opacity: 0.5;
  }
}

// share

.share{
  @include shadow;
  background: $light;
  border-radius: 5px;
  align-items:center;
  justify-content:right;
  position: fixed;
  top: 64px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  a{
    margin:12.5px  0;
    opacity:1;
    transition:opacity 0.3s ease-in-out;
    &:hover{
      opacity:0.84;
    }
  }
  img{
    width:1.25rem;
    margin-right: 5px;
  }
  &,&_card{
    display: flex;
    flex-flow: column;
  }
  &_card{
    width:100%;
    padding:25px;
  }
  
  &-close{
    animation: hideShare 0.3s ease-out;
  }
  &-open{
    animation: showShare 0.3s ease-out;
    width: 210px;
    padding: 25px 15px;
    height: auto;
    opacity: 1;
    text-align: left;
  }
  &-trigger{
    width: 24px;
    cursor: pointer;
  }
}

.cool{
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  position:relative;
  color:#fff;
  height:48vh;
  min-height: 360px;
  background-color:$dark;
  margin-top:60px;
  padding-top:30px;
  padding-bottom:30px;
}

.blog{
  padding: 0 30px;
}
.blog,
.post{
  max-width: 1024px;
  margin: 0 auto;
}
