.mute{
  color: $mute;
}
.pale{
  color: $pale;
}
.trio{
  text-align:left;
}
.inline{
  display: inline-block;
  text-align: center;
}
.lively{
  color: $primary-color;
}
.hidden{
  display: none;
}
.center{
  text-align:center;
  margin:5px auto;
}
.left{
  text-align:left;
}
.flex{
  display:flex;
  align-items:flex-start;
  justify-content: space-between;
  &,
  &-in{
    display:flex;
    flex-flow:row wrap;
  }
  &-in{
    justify-content:center;
    align-items: center;
  }
}
.wrap{
  padding: 10px 25px 10px 0;
  max-width: 1024px;
  margin: 0 auto;
}