$padding: 10px;
$margin: 25px;
$primary-color: #04a763;
$light: #fff;
$dark: #24292e;
$pale: lighten($dark, 20%);
$mute: darken($light, 20%);
$linear: linear-gradient(to right bottom, darken($primary-color, 10%), $primary-color);
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Cookie', sans-serif;
$font: 'Maven Pro', sans-serif;
