---
layout: default
published: true
pagination:
  enabled: true
  per_page: 6
---
<section class = 'start'>
  <div class = 'start_inner'>
  </div>
</section>
{% if paginator.page %}
  {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
  {% assign currentPage = paginator.page %}
{% else %}
  {% assign offset = 0 %}
  {% assign currentPage = 1 %}
{% endif %}
<div class = 'intro'>
  <div class = 'intro_inner'>
    <div>{% include audio.md %}</div>
    <h1 class = 'intro_headline'>{{ page.title }}</h1> 
    <p class = 'pale'>{{ site.description }}</p>
  </div>
</div>
<section class = 'blog'>
  <article>
    <ul class='posts flex' id = 'posts'>
      {% assign excerpt = true %}
      {% for post in paginator.posts %}
        {% include excerpt.md %}
      {% endfor %}
    </ul>
    {% include paginate.md %}
  </article>
</section>
